$primary-color : #1b2021;
$secondary-color : #eac8af;
$dark-secondary-color: #d8ac9c;
$links-color: #5f939a;

nav {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1.25rem;
    position: relative;
    
    p {
        font-size: 30px;
        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            span {
                color: $secondary-color;
            }
        }
    }
    .hamb-menu{
        padding: .80rem;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $secondary-color;
        border: none;
        border-radius: 3px;
        color: white;
        box-shadow: 1px 3px 10px solid white;
    }
    .d-none{
        display: none;
    }
    .d-visible {
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        background-color: $secondary-color;
        padding: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        transition: padding 300ms;
        li {
            font-size: 15px;
            margin-bottom: 15px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }

}